.cardsTeams{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cardTeamDulceSalado{
        font-family: Rubik-Italic ;
        background-color: $colorGris;
        display: flex;
        margin: 50px;
        width: 600px;
        column-gap: 50px;
        padding: 20px;
        border-radius: 10px;
        img{
            height: 150px;
        }
        .InfoTeamDulceSalado{
            a{
                @include a (#365902, #000000);
            }
        }
    }
}

@media(max-width:730px){
    .cardsTeams{
        .cardTeamDulceSalado{
            margin: 40px;
            width: 450px;
            column-gap: 30px;
            img{
                width: 150px;
            }
            .InfoTeamDulceSalado{
                font-size: 15px;
                a{
                width: 150px;
                height: 50px;
                font-size: 15px;
                }
            }
            
        }
    }
    
}
@media(max-width:445px){
    .cardsTeams{
        .cardTeamDulceSalado{
            margin: 40px;
            width: 420px;
            column-gap: 15px;
            img{
                width: 100px;
                height: 100px;
            }
            .InfoTeamDulceSalado{
                font-size: 13px;
                a{
                width: 100px;
                height: 40px;
                font-size: 12px;
                }
            }
            
        }
    }
    
}


