$colorRosa: #D9325E;
$colorRosaDifuminado: radial-gradient(circle, rgba(232,121,150,1) 14%, rgba(235,83,122,1) 46%, rgba(228,69,111,1) 61%, rgba(223,55,100,1) 81%, rgba(217,50,94,1) 100%);  
$colorGris : #b3a5a2;